<div id="<%= dom_id artifact %>">
  <div class="card card-header results-block mx-1 my-1" style="width: 20rem;">
    <div class="card-body">
      <%= image_tag(artifact, width: 250, class: "mcard-img-top x-auto d-block", alt:"Card image cap") %>
      <h5 class="card-title mt-2"><%= artifact.name %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
</div>


