<div class="container">

  <% content_for :title, "Artifacts" %>

  <div class="mb-5">
    <h1 class="text-center mt-0 mb-0 text-white">Artifacts</h2>
    <div class="text-center">
      <%= link_to "New Artifact", new_artifact_path, class: "btn btn-success mt-2" %>
    </div>
  </div>

  <div id="artifacts">
    <div class="row row-cols-4 justify-content-center">
      <% @artifacts.each do |artifact| %>
      
        <div class="center me-3 mb-5">
          <%= render artifact %>
          
          <div class="d-flex flex-row">
            <%= link_to "Show", artifact, class: "btn btn-warning mt-1 ms-1" %>
            <%= link_to "Destroy", artifact, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger mt-1 ms-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

